.container {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2rem;
}

.info {
    width: 60%;
    margin: 0 auto;
    display: flex;

    .info1 {
        margin: 1rem;
        display: flex;
        justify-content: start;

        &:nth-child(1) {
            font-weight: bold;
        }

        span {
            cursor: pointer;
        }
    }
}

.comment_container {
    width: 60%;
    margin: 0 auto;

    textarea {
        width: 100%;
        padding: 1rem 1rem 1.5rem;
        border: 1px solid lightgrey;
        max-width: 600px;
        resize: none;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        font-size: 1rem;
        color: black;
        line-height: 1.75;
    }

    .comment_button {
        button {
            font-weight: bold;
            cursor: pointer;
            border: none;
            background: #12B886;
            color: white;
            border-radius: 4px;
            padding: 0 1.5rem;
            height: 2rem;
            font-size: 1rem;
        }
    }
}


.visitor {
    width: 60%;
    margin-top: 5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    max-width: 600px;
}