.navbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav_logo {
        font-size: 3rem;
        height: 4rem;
        cursor: pointer;

        img {
            height: 100%;
        }
    }

    .nav_content {
        list-style: none;

        li {
            float: left;
            padding: 0.6rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            height: 1rem;
            border-radius: 50%;
            cursor: pointer;

            &:nth-child(2) {
                font-size: 1.2rem;
            }

            &:hover {
                background-color: #ccc;
            }
        }

        .login_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 2rem;
            padding: 0.6rem;
            font-size: 1rem;
            border-radius: 5rem;
            border: none;
            font-weight: bold;
            background: black;
            color: white;
            cursor: pointer;

            &:hover {
                color: #ccc;
            }
        }
    }
}

.category {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .category_content {
        display: flex;
        list-style: none;

        li {
            font-size: 1.2rem;
            margin: 0.5rem;
            cursor: pointer;
            color: #ccc;

            span {
                margin-left: 1rem;
            }
        }

        .selected {
            color: black;
        }

        select {
            font-size: 1rem;
            margin: 0.5rem;
        }
    }

    .category_more {
        display: inline-block;
        position: relative;

        .dropdown_icon {
            border: none;
            cursor: pointer;
        }

        .dropdown_list {
            position: absolute;
            left: -10rem;
            background-color: #fff;
            border: 1px solid #ccc;
            list-style: none;
            padding: 0;
            display: none;
            font-size: 1rem;

            &.active {
                display: block;
            }

            li {
                margin: 1rem;
                cursor: pointer;

                &:hover {
                    color: rgb(79, 216, 113);
                }
            }
        }
    }
}